a.out
*.[oa]
.DS_Store
*.vimspector.json
*.bundle
*.class
*.log
*.swp
*.dmg
*.pbk
.run.sh
*.efs2
tags
*.lock
*.class
.ccls
.clang-format
.clang-tidy
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
**/.claude/
.idea/
.cache/
.claude/
.undodir/
build/
tmp/
obj/
Debug/
Release/
.vscode/
cmake-build-debug*/
cmake-build-release*/
target*/
