a.out
*.[oa]
.DS_Store
*.bundle
*.class
*.log
*.swp
*.dmg
*.pbk
*.efs2
tags
*.lock
*.class
.ccls
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
.idea/
.cache/
./build/
./.vscode/
cmake-build-debug/
cmake-build-release/
