<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DKey</key>
	<string>86f654c6025517b4ed2b346487de969ab2ca17756faf3e5c5d04e0dd39741d4f</string>
	<key>EMF</key>
	<string>bc026686a3084c956d5117e23d81908d65520f274e95ecd09aa8bf6947c07cf3</string>
	<key>btMac</key>
	<string>34:15:9e:e2:cf:55</string>
	<key>dataVolumeOffset</key>
	<integer>96004</integer>
	<key>dataVolumeUUID</key>
	<string>25b35084657fa12f</string>
	<key>hwModel</key>
	<string>N88AP</string>
	<key>imei</key>
	<string>012159006036131</string>
	<key>key835</key>
	<string>20b82bbcbad16fe0b68f363f125fbde0</string>
	<key>key89B</key>
	<string>9e98fa3760c4fa53cf400e85bf0f0f92</string>
	<key>keybags</key>
	<dict>
		<key>445e8fc1176042dc9a0e743e13d652cb</key>
		<dict>
			<key>KeyBagKeys</key>
			<data>
			REFUQQAABFRWRVJTAAAABAAAAAJUWVBFAAAABAAAAAJVVUlEAAAA
			EERej8EXYELcmg50PhPWUstITUNLAAAAKAdiuIGKa3r8ERo6CRqz
			APaRPzW3vLh0EcFqHewvV/QzxDdyeOt40KdXUkFQAAAABAAAAAFT
			QUxUAAAAFI4V3kmrMbTsTTKK51ohVDj7u8+HSVRFUgAAAAQAAMNQ
			VVVJRAAAABBAsEpUS+pK34/5RCvnnsOtQ0xBUwAAAAQAAAABV1JB
			UAAAAAQAAAADV1BLWQAAACiaDMfkPrU+m/HmFDDRcVCLE6K4a8Uj
			6Sffbrs/NCAGvy9Zhd+NWtRKVVVJRAAAABBU16+JnXJAv7CKJYl3
			990oQ0xBUwAAAAQAAAACV1JBUAAAAAQAAAADV1BLWQAAACjW6NY2
			tU497gKLG+X+fuIM+JJsFgf4v9JMujHQMaC42DBE5nEOS20dVVVJ
			RAAAABCFjbb+Hf1EPr6CWsBqQ/ulQ0xBUwAAAAQAAAADV1JBUAAA
			AAQAAAADV1BLWQAAACgJnF4LY+8fZDpk9HJO/PfHa9NBoumiYjm+
			vui1UNgYNGFdjFN7PRKeVVVJRAAAABBi1ZLzv45Oy5fWROfMQ6JU
			Q0xBUwAAAAQAAAAFV1JBUAAAAAQAAAADV1BLWQAAACjTs8JcWs4T
			0zEDeCOy0VA4t6AMr+W2uuGiHfmVLQsd1bjxeEhPuMdUVVVJRAAA
			ABBkWAybI5dAXZWywut4v9pCQ0xBUwAAAAQAAAAGV1JBUAAAAAQA
			AAADV1BLWQAAACgPKk1KNW3AcJsY2Ye0oAGfRLMDDTuIYH3VLM6W
			4yfvq+R6ywLlf138VVVJRAAAABCd3+if711H54c9Tt+3+HDdQ0xB
			UwAAAAQAAAAHV1JBUAAAAAQAAAADV1BLWQAAACgmNNjfPceJ+AZ5
			SLfYemTbZpPeGGqFXfeeVk0hFtybPXWN8MI2xAWlVVVJRAAAABCM
			vicVuTlJL4vnD31b5YevQ0xBUwAAAAQAAAAIV1JBUAAAAAQAAAAD
			V1BLWQAAACg6YfKcIRTyVWaHYkJrpQDrcQyUzmchRcel1ieHM0Db
			eAOJ8s451bWwVVVJRAAAABAZRoSGS79BLpObXnJPMaB5Q0xBUwAA
			AAQAAAAJV1JBUAAAAAQAAAADV1BLWQAAACgMIOS0rpq9K6knGORi
			oJHx03SXHps+pynj7ZrKUoED4kSkfIFNG/UpVVVJRAAAABB6qiXr
			ioJNsLCOCA8v87IVQ0xBUwAAAAQAAAAKV1JBUAAAAAQAAAADV1BL
			WQAAACgKRWJfyz7tulnzFlBwpYqtb7HEnQFyutFVD+IuguaUmTw7
			VACeR+zXVVVJRAAAABDIbeODSx5EQprsr+ilm/G6Q0xBUwAAAAQA
			AAALV1JBUAAAAAQAAAADV1BLWQAAACgSjoDvn9Wn5q5u5NhIlnGr
			iP+mAXPFaEgA+apXJTgFGsSFc17/9kFRU0lHTgAAABQ7egaLxcHI
			D39kRINvF0qE6B/XZQ==
			</data>
			<key>passcode</key>
			<data>
			Jo3zLfH8iT6k4iinJeDLiWnX/xFslMz4iN7DW7ROE5c=
			</data>
			<key>passcodeKey</key>
			<string>bfd91d3debac0c13266a2fd5947e574772abc6684782c85b1f762bed557a2a2a</string>
		</dict>
	</dict>
	<key>lockers</key>
	<data>
	ANChAAAEAAD4+RYAAAEAAAB+CgEgAbgA3PffLw8WlABM1gAAacQIAAoAAAAAAAAACAAA
	AAIAAAAFAAAABAAAAAYAAAALAAAAAwAAAAEAAAAJAAAADAAAAAcAAACA/7cANAAAABT4
	3y98998vRPffLyABuAAgAbgA+PkWAAAEAACw+7cAANChAPz33y/nIJYACPjfLzO/CADF
	AAAAAAAAALD7twAFAQAAJPjfLzkXDQAAAAAAAAQAALD7twBAAAAAxQAAAMUAAAAFAQAA
	AAAAAFD43y8ziwcAPNYAADzUAAB0+N8vsPu3AAAAAAAgAAAAsPu3ACAAAAB0+N8vbPjf
	LzOOBwAgAAAAsPu3ACAAAAC0+t8vIAAAABT63y9fuQkAOWU5OGZhMzc2MGM0ZmE1M2Nm
	NDAwZTg1YmYwZjBmOTI2NTUyMGYyNzRlOTVlY2QwOWFhOGJmNjk0N2MwN2NmMwAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAXPnf
	L7D7twAAAAAABwAAALD7twAHAAAAXPnfL1T53y8zjgcABwAAALD7twAHAAAAnPvfLwcA
	AAD8+t8vmPnfL7D7twDAAwAAVPffL7D7twABAAAAmPnfL5D53y8zjgcAAQAAALD7twAB
	AAAAsCIVAAEAAAA4+98vX7kJAAkAAACQIRUABAAAAEz73y9fuQkAZGF0YW5ncgADAAAA
	NPrfL33ekwAAAAAAAAAAAAAAAACk4JcAANChAACSCgEDAAAAANChAAAAAAAAAAABEoAL
	AAAguAAAELgAP8YHAKn9kwAgAAAAAAAAAITEogAgAAAACAAAALD7twBM+98vgcMJAAIA
	AAAAEAAAANChAAAQAABBBQAAAAQAAACSCgEAfgoBrPrfLw8WlACw+7cAdD8UAHA/FACw
	+7cAlPrfL7D7twB0PxQAcD8UALD7twADAAAAlPrfL4z63y+ExKIAAwAAALD7twACAAAA
	PwUAAAAAAAE0/N8vX7kJAAB+CgEAfgoB+PkWAAAQAACw+7cAANChAMz63y/nIJYAOQBl
	ADkAOAD3AwAAAAAAALD7twA8BAAA9PrfLzkXDQAAAAAAABAAALD7twBFAAAA9wMAAPcD
	AAA8BAAAAAAAACD73y8ziwcANPzfL4HDCQDA+98vAAAAAMADAABU998v
	</data>
	<key>serialNumber</key>
	<string>8700194F3NP</string>
	<key>udid</key>
	<string>71199fc0b9358f4bd5359deed48a6057d3690f01</string>
	<key>wifiMac</key>
	<string>34:15:9e:e2:cf:56</string>
</dict>
</plist>
