CompileFlags:
  CompilationDatabase: Debug  # compile_commands.json 경로

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*]   # 원하는 clang-tidy 검사 추가
    Remove: [clang-analyzer-*]          # 원치 않는 검사 제거
    CheckOptions:
      modernize-use-auto.MinTypeNameLength: 0

FallbackFlags: [
  "-std=c++26",
  "-I./include",
  "-I../../develop/include",
  "-I../../develop/vendor/include"
]