CompileFlags:
  CompilationDatabase: build  # build/compile_commands.json 사용
  Add: 
    - -std=c++26
    - -I/opt/homebrew/opt/boost/include
    - -I/opt/homebrew/include
    - -I.

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - performance-*
    Remove: 
      - clang-analyzer-*
    CheckOptions:
      modernize-use-auto.MinTypeNameLength: 0