<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DKey</key>
	<string>4fdb45c67da9266c3e7347a8214f5e48a9aecc5deceaaf7ca26c2c0f3674d7d6</string>
	<key>ECID</key>
	<integer>789888271309</integer>
	<key>EMF</key>
	<string>d38d70e2e62d33c19253816bd255ad06ddb6e101b1b8e10329748ea97569dd8e</string>
	<key>KeyBagKeys</key>
	<data>
	REFUQQAABORWRVJTAAAABAAAAANUWVBFAAAABAAAAABVVUlEAAAAELtLnKyKUkSBlAod
	nBFiqDdITUNLAAAAKNfx9vVitWDjO1B38wUPan0/mHF/up6lhR7pXGgBgk/gE5UUeYwp
	YfxXUkFQAAAABAAAAAFTQUxUAAAAFJ6cIulDChTtbN/KH4LM/IX2MFoOSVRFUgAAAAQA
	AMNQVVVJRAAAABAGga/uDCJNPaeqszSVFm46Q0xBUwAAAAQAAAABV1JBUAAAAAQAAAAD
	S1RZUAAAAAQAAAAAV1BLWQAAACg0/7cEUTbl9MLicJGoVLfkl+945bcfbfh+VXuZ29Ry
	OG1wQWWqnj8YVVVJRAAAABARH6PZAptJlZsW+9Tg8ZIFQ0xBUwAAAAQAAAACV1JBUAAA
	AAQAAAADS1RZUAAAAAQAAAABV1BLWQAAAChscHufkET14fqQF6r5Y9peC4HyOax+8p+8
	/mndtrFYw18iGbu8/dtJUEJLWQAAACBYrHn07JvpnNB+ZusVib3KXvfwSUCqUlzOjHyS
	UU/sc1VVSUQAAAAQZ7fRlck4RnexG7BVlTdoVUNMQVMAAAAEAAAAA1dSQVAAAAAEAAAA
	A0tUWVAAAAAEAAAAAFdQS1kAAAAoTltQzlt9PYxAyp/UpmCybSI/HujlKPBOGvunLu2h
	kCTAVDdaT8cBllVVSUQAAAAQDwd1W0LaSby0KWEXFI56ZUNMQVMAAAAEAAAABVdSQVAA
	AAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoE5PZgNELyiIbhZl0lV1fxGlIlBWd1Q57
	+ZNng8zP5erGe2tUz2vqhVVVSUQAAAAQiFwQFSKmQEqvdoy0c1232UNMQVMAAAAEAAAA
	BldSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAoddixBiNGLjCWAJPYR2OFVfm0
	CHnYAcfyD441Y3dAETs5VElXCUvE8lVVSUQAAAAQL6Y4EA6ySPiMmJTLkNAyxkNMQVMA
	AAAEAAAAB1dSQVAAAAAEAAAAA0tUWVAAAAAEAAAAAFdQS1kAAAAo85LN/v8q7jIzppGq
	6ROf8tUrH5aCaYueR1APY4Xzx2hIKqmc1LORr1VVSUQAAAAQWAROO/AyR4G6t8QBbr/U
	IUNMQVMAAAAEAAAACFdSQVAAAAAEAAAAAUtUWVAAAAAEAAAAAFdQS1kAAAAgoZhfSrN1
	wREFA8koe/4Rey9ziMU8tDn2XAgRWy6dhbhVVUlEAAAAEAOgEa8IUkski8s2dWXBSl9D
	TEFTAAAABAAAAAlXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKEy72A1TgFte
	5AXGziiTihq2QDAnm+QUOr4VIBvr77w6wQTEgYDGamBVVUlEAAAAELhqCjQ4mUjfqzA1
	1lkq3iFDTEFTAAAABAAAAApXUkFQAAAABAAAAANLVFlQAAAABAAAAABXUEtZAAAAKJtv
	hHm9dlaNYVkjYOJrBvW1gh1xceXbtNdeZjAPCMLGgGjKQf/VdxVVVUlEAAAAEO+gNIwv
	nEYxgOsO5pxAttNDTEFTAAAABAAAAAtXUkFQAAAABAAAAAFLVFlQAAAABAAAAABXUEtZ
	AAAAIGZz1/cGSNn7hd03ZgA7h6ioXBVeRMcw5YpZsllPv8gWU0lHTgAAABTharSNAvH4
	Xvf0OFtegg9vdPtlQg==
	</data>
	<key>btMac</key>
	<string>28:e0:2c:41:00:36</string>
	<key>classKeys</key>
	<dict>
		<key>1</key>
		<string>871ef1859af573b9d54d943dcd834d0e9057665f77ba5887b097c70a3263a4ae</string>
		<key>10</key>
		<string>7b93b93a0b03c29809d02ff513b5492b827ef7f7681bd38f0815a842c898a236</string>
		<key>11</key>
		<string>7eb32a76613f99219fcb92b71a3c60a176e7547adfbde1e81d29feed22a05bae</string>
		<key>2</key>
		<string>0737bd40c3b7c2ad9d983c1d19d0816aa24ed91441fd9bc5e349db195763f0a6</string>
		<key>3</key>
		<string>3ca2fea42f271c614735e5feadcc12e700c2bed9e38d355eb4ac318000c9f477</string>
		<key>4</key>
		<string>4fdb45c67da9266c3e7347a8214f5e48a9aecc5deceaaf7ca26c2c0f3674d7d6</string>
		<key>5</key>
		<string>218be9428d4c736d052ade9dd6af7c0717aa319ae7453f78cdea9c539ccbf041</string>
		<key>6</key>
		<string>4ea73499ee1c8ea69263c8045dde0708231f2a70fe1af92241feb975bc65764b</string>
		<key>7</key>
		<string>1ab6281c6f1f4d45c4246242917e65239c111538d9481595b627241a343f6837</string>
		<key>8</key>
		<string>8e65ee0954d3ecfbb087466f3b38d4f946c3a3921078cb9337b20dfd5011d7ac</string>
		<key>9</key>
		<string>2182c68e3a7e1848af08eec5f4ee171fa146738f4da3d9247952cb0b238d6568</string>
	</dict>
	<key>dataVolumeOffset</key>
	<integer>151552</integer>
	<key>dataVolumeUUID</key>
	<string>0000000000000000</string>
	<key>hwModel</key>
	<string>N90AP</string>
	<key>imei</key>
	<string>012849003371735</string>
	<key>kern.bootargs</key>
	<string>pio-error=0 -v rd=md0 nand-disable=1 </string>
	<key>key835</key>
	<string>0b46b3166f8e885a12b75c27ab3d24e0</string>
	<key>key899</key>
	<string>25d016f10086ef953495859269119c8e</string>
	<key>key89A</key>
	<string>c8b6207bd9594bce1f6f10515c8ccafe</string>
	<key>key89B</key>
	<string>54170b7be360985fb7bdf6a3737e25fb</string>
	<key>lockers</key>
	<data>
	a0xQAE1Wd0zKzYoiibidyHDL6I0K6qYnKnqtnCyrPDmDRpDwtiCKU9PjBHMtwDmubJL4
	iI0VvDMgeACFrByIaZMtOFpTg2ZgLgVrKr3LYFJpGY3Hsrb3d2tMNAAxR0FCMUdBQsFz
	+GatYbelcQK9ZJYJ6AtNA4rYouZnZbrxyWDYh+MFIMecfpwi7R8s1CAGTdXZ1GtMKAB5
	ZWvELgdZGf21tgLDeS7eXO4uR3b/LCei7m0zDT0XzFmxOEPiuOqj5Xbk32tMAABFTk9E
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</data>
	<key>nand</key>
	<dict>
		<key>#block-pages</key>
		<integer>128</integer>
		<key>#bootloader-bytes</key>
		<integer>1536</integer>
		<key>#ce</key>
		<integer>4</integer>
		<key>#ce-blocks</key>
		<integer>4100</integer>
		<key>#page-bytes</key>
		<integer>8192</integer>
		<key>#spare-bytes</key>
		<integer>448</integer>
		<key>banks-per-ce</key>
		<integer>1</integer>
		<key>bbt-format</key>
		<integer>1</integer>
		<key>boot-from-nand</key>
		<data>
		AQAAAA==
		</data>
		<key>device-readid</key>
		<integer>848619416</integer>
		<key>dumpedPageSize</key>
		<integer>8212</integer>
		<key>meta-per-logical-page</key>
		<integer>12</integer>
		<key>metadata-whitening</key>
		<data>
		AQAAAA==
		</data>
		<key>name</key>
		<data>
		ZGlzawA=
		</data>
		<key>partitions</key>
		<dict>
			<key>Filesystem</key>
			<dict>
				<key>Block Count</key>
				<integer>4084</integer>
				<key>Block Offset</key>
				<integer>16</integer>
			</dict>
		</dict>
		<key>ppn-device</key>
		<false/>
		<key>use-4k-aes-chain</key>
		<data>
		AQAAAA==
		</data>
		<key>valid-meta-per-logical-page</key>
		<integer>10</integer>
		<key>vendor-type</key>
		<integer>1376273</integer>
	</dict>
	<key>passcode</key>
	<string></string>
	<key>passcodeKey</key>
	<string>35912993cd09ae528134d775d98a2cf9ee8df0c900c315ca96ec455b0539fc46</string>
	<key>ramdisk compile time</key>
	<string>Jul  3 2012 16:23:34</string>
	<key>ramdisk revision</key>
	<string>8c6b79b04374</string>
	<key>serialNumber</key>
	<string>5K1373NXA4S</string>
	<key>udid</key>
	<string>d0686b9ba27e63d6ab97479e089e09b164d1fa84</string>
	<key>wifiMac</key>
	<string>28:e0:2c:41:00:37</string>
</dict>
</plist>
